.htaccess
css.php
rpc/
sites/site*/admin/
sites/site*/private/
sites/site*/public/admin/
sites/site*/public/setup/
sites/site*/public/theme/
textpattern/
HISTORY.txt
README.txt

# Ignore All JSON Files With .json Extension
*.json

# Ignore All GPG Files With .gpg Extension
*.gpg
